<div class="container">
  <p> Your URL: <a href="http://<%= @url.long_url%>" target="_blank"><%= @url.long_url%></a></p>
   <p> Here is your shortened URL </p>
  <p> Your Shortened Link: <%= @url.short_url %></p>
</div>
